<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>
    Data Visualisation CSE 564 Final Project Saral Uttamani
</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

</head>
<body>

    <h2>Data Visualisation CSE 564 - Dashboard</h2>

    <button id="covid" class="btn orange span" name="covid" onclick="covid()">Covid DeathRate WorldMap</button>
    <button id="bcg" class="btn blue span" name="bcg" onclick="bcg()">BCG Vaccine WorldMap</button>

    <button id="malaria" class="btn" name="malaria" onclick="malaria()">Malaria DeathRate WorldMap</button>




    <svg id="my_dataviz" width="1000" height="600"></svg>

</body>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</html>
